Repository GDSC-PKNU-Official/pknu-notice-front, pull requests merged in 2023-05, with the labels that each got.

#33 Feat/#9: 하단 탭 구현
  src/components/FooterTab/index.test.tsx
  src/components/FooterTab/index.tsx
Labels: ✨ feat

#53 Feat/#34: 캐러셀 컴포넌트 구현
  package.json
  src/@types/styles/image.ts
  src/components/Carousel/index.tsx
  src/components/Image/index.tsx
  src/pages/MajorDecision/index.test.tsx
  yarn.lock
Labels: ✨ feat

#62 Refactor/#61: Axios로 API 호출 모듈화
  jest.config.js
  src/apis/http.ts
  src/config/index.ts
  tsconfig.path.json
  vite.config.ts
Labels: 🧑‍🔧 refactor

#65 Feat/#38: 공지사항 카드 컴포넌트 구현
  src/components/Card/AnnounceCard/index.test.tsx
  src/components/Card/AnnounceCard/index.tsx
Labels: ✨ feat, 🔍 test

#63 Feat/#56: 모달 컴포넌트 구현
  src/@types/styles/icon.ts
  src/components/Card/InformCard/index.test.tsx
  src/components/Card/InformCard/index.tsx
  src/components/Icon/index.tsx
  src/components/Modal/MajorModal/index.test.tsx
  src/components/Modal/MajorModal/index.tsx
  src/components/Modal/index.tsx
  src/pages/MajorDecision/index.test.tsx
Labels: ✨ feat, 🔍 test, ⚒️ chore

#67 Feat: MSW 를 브라우저에도 적용되도록 추가
  .env.vault
  package.json
  public/mockServiceWorker.js
  src/config/index.ts
  src/main.tsx
  src/mocks/browser.ts
Labels: ⚙️ config, ✨ feat

#71 Test/#68: msw 사용해서 공지사항 컴포넌트 테스트 로직 수정
  src/@types/announcement.ts
  src/components/Card/AnnounceCard/AnnounceList/index.tsx
  src/components/Card/AnnounceCard/index.test.tsx
  src/components/Card/AnnounceCard/index.tsx
  src/mocks/browser.ts
  src/mocks/handlers/announceHandlers.ts
  src/mocks/server.ts
Labels: ✨ feat, 🔍 test, ⚒️ chore

#73 Feat/#72: 마이페이지 구현
  src/@types/styles/icon.ts
  src/components/Icon/index.tsx
  src/components/Modal/MajorModal/index.tsx
  src/components/Modal/SuggestionModal/index.tsx
  src/components/Modal/index.tsx
  src/pages/My/index.test.tsx
  src/pages/My/index.tsx
  src/utils/styles/textarea-resize.ts
Labels: ✨ feat, 🔍 test, ⚒️ chore

#69 Feat/#54: 단과대 선택 페이지 추가
  src/@types/styles/icon.ts
  src/App.tsx
  src/components/Icon/index.tsx
  src/components/List/CollegeList/index.test.tsx
  src/components/List/CollegeList/index.tsx
  src/components/List/DepartmentList/index.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/handlers/majorHandlers.ts
  src/mocks/handlers/testHandlers.ts
  src/mocks/server.ts
Labels: ✨ feat

#78 Feat/#76: Suspense 적용
  src/apis/Suspense/fetch-announce-list.ts
  src/apis/Suspense/wrap-promise.ts
  src/components/Card/AnnounceCard/AnnounceList/index.tsx
  src/components/Card/AnnounceCard/Skeleton.tsx
  src/components/Card/AnnounceCard/index.tsx
  src/styles/Skeleton/SkeletonItem.ts
Labels: ✨ feat, 💇‍♂️ style
