Repository GDSC-PKNU-Official/pknu-notice-front, pull requests merged in 2023-03, with the labels that each got.

#11 Feat/#6: Button 컴포넌트 구현
  src/components/Button/index.tsx
  src/styles/Global/index.tsx
  tsconfig.json
Labels: ✨ feat

#14 Config/#10: TS로 테스트코드 작성할 수 있도록 설정
  docker-compose.yml
  jest.config.js
  package-lock.json
  package.json
  src/App.test.tsx
  yarn.lock
Labels: ⚙️ config

#15 Feat/#13: Icon 컴포넌트 구현
  package.json
  src/components/.gitkeep
  src/components/Icon/index.tsx
  yarn.lock
Labels: ⚙️ config, ✨ feat

#16 Feat/#8: Image 컴포넌트 구현
  package-lock.json
  package.json
  public/assets/map1.png
  public/assets/map2.png
  src/@types/styles/size.ts
  src/components/Image/index.tsx
  src/utils/styles/size.ts
  tsconfig.path.json
  vite.config.ts
  yarn.lock
Labels: ⚙️ config, ✨ feat

#22 Feat/#21: Router 적용
  package.json
  src/App.tsx
  src/main.tsx
  src/pages/Announcement/index.tsx
  src/pages/Home/index.tsx
  src/pages/MajorDecision/index.tsx
  src/pages/My/index.tsx
  tsconfig.path.json
  vite.config.ts
Labels: ⚙️ config, ✨ feat

#19 Feat: 헤더 컴포넌트 구현
  src/components/Header/index.tsx
Labels: ✨ feat
